<button *ngIf="cookieTrue" mat-raised-button class="button" color="accent" routerLink='/create-user'>Create new User</button>
<form (ngSubmit)="loginButton()" #form="ngForm" class="form">
    <h1>Login</h1>
    <div class="FormBody">
        <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput ngModel type="text" name="username" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>password:</mat-label>
            <input matInput ngModel type="text" name="password" />
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button color="primary">Send</button>
            <button mat-raised-button color="warn" type="reset">Reset</button>
        </div>
        
    </div>
</form>