.FormBody{
    display: flex;
    flex-direction: column;
}
.form{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.button{
    position: absolute;
    right: 10%;
}
.checkAdmin{
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
