// @import "../../../theme.scss";
.navBar{
    min-width: 100%;
    padding-top: 1px;
    background-color: transparent;
    .navList{
        padding-bottom: 16px;
        display: flex;
        list-style: none;
        margin-left: -40px;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        .navItem{
            display: flex;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 620px){
    .navList{
        flex-direction: column !important;
        padding-bottom: 0px !important;
        .navItem{
            margin-bottom: 16px;
            width: 100%;
            .navItemLink{
                min-width: 80%;
                margin-left: 10%;
            }
        }
    }
}
